appdirs==1.4.4
asgiref==3.3.1
astroid==2.5.3
colorama==0.4.4
cycler==0.11.0
distlib==0.3.1
Django==3.1.7
django-crispy-forms==1.14.0
django-tinymce==3.4.0
filelock==3.0.12
fonttools==4.33.3
isort==5.8.0
kiwisolver==1.4.2
lazy-object-proxy==1.6.0
matplotlib==3.5.2
mccabe==0.6.1
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pylint==2.7.4
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.4.3
wrapt==1.12.1
